
.DS_Store
**/temp/
**/output/
**/output2/
**/external/
*.dta
*.pdf
*.csv

# allow PDFs in analysis output folders
!analysis/*/output/
analysis/*/output/**
!analysis/*/output/**/
!analysis/*/output/**/*.pdf
